
.varInspector {
  max-height: 500px;
  min-height: 100px;
  font-size: 80%;
  padding: 0px;
  overflow-y: auto;
  font-weight: normal;
  color: #333333;
  white-space: nowrap;
  overflow-x: auto;
} 

#varInspector-wrapper {
  position: fixed !important;
  top: 130px !important;
  right: 30px !important;
  width: 350px !important;
}

.varInspector-float-wrapper {
  max-width:800px;
  padding: 10px;
  opacity: .95;
  z-index: 100;
  overflow: hidden;
  background: #FFFFFF;
  box-shadow: 0px 0px 12px 1px rgba(87, 87, 87, 0.2);

}

.hide-btn{
  float: right;
}

tr:nth-of-type(2n) {
  background: #F7F7F7 !important;
}

.reload-btn{
  float: right;
}

.kill-btn{
  float: right;
}

thead{
  font-size: 14px;
}

.col-md-9 {
  overflow:hidden;
  margin-left: 14%;
  width: 80%}

#varInspector-wrapper.closed {
  min-width: 250px;
  width: auto;
  transition: width;
}
#varInspector-wrapper:hover{
  opacity: 1;
}
#varInspector-wrapper .header {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}
#varInspector-wrapper .hide-btn {
  font-size: 14px;
  font-family: monospace;
}

#varInspector-wrapper .reload-btn {
  font-size: 14px;
  font-family: monospace;
}

#varInspector-wrapper .kill-btn {
  font-size: 14px;
  font-family: monospace;
}



/* don't waste so much screen space... */
#varInspector-wrapper .toc-item{
}

#varInspector-wrapper .toc-item .toc-item{
  padding-left: 10px;
}



table.table, table.table tr, table.table td, table.table th {
    border: 0;
}

table.table {
    margin-left: 0;
    margin-right: 0;
}

/* TREE MAP */


/* Remove default bullets */
ul, #myUL {
  list-style-type: none;
}

/* Remove margins and padding from the parent ul */
#myUL {
  margin: 0;
  padding: 0;
  font-size: 1.5em;
}

#myUL li {
}

/* Style the tree_caret/arrow */
.tree_caret {
  cursor: pointer; 
  font-weight: 600;
  user-select: none; /* Prevent text selection */
}

/* Create the tree_caret/arrow with a unicode, and style it */
.tree_caret::before {
  color: black;
  content: "\25B6";
  display: inline-block;
  font-size: 0.6em;
}



/* Rotate the tree_caret/arrow icon when clicked on (using JavaScript) */
.tree_caret-down::before {
  transform: rotate(90deg); 
}

/* Hide the nested list */
.nested {
  display: none;
}

/* Show the nested list when the user clicks on the tree_caret/arrow (with JavaScript) */
.active {
  display: block;
  padding-inline-start: 20px;
}

.varKey {
  color: purple !important;
}

.varContent {
  color: blue;
}